@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,300&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  background-color: #C5E9FF;
}

.header-lable {
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  line-height: 42px;
}

.button-header {
  margin-left: auto;
  margin-right: 40px;
}

@media screen and (max-width: 865px) {
  .header-lable {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .header-lable {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .header-lable {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
  .header {
    justify-content: center;
  }
}