@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,300&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.main-block-regist {
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 40px;
    margin-left: 20px;
  }

  .regist-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 80%;
  }
  
  .button-regist {
    margin-left: auto;
  }
  
  span {
    color: red;
    text-align: right;
    font-weight: 300;
    font-size: 15px;
    margin-top: 20px;
  }
}

.regist-block {
  background-color: white;
  height: auto;
  width: 400px;
  margin-left: 40px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .h1-regist {
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    line-height: 42px;
    color: black;
    margin: 24px;
  }

  .trans-regist {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;

    .p-regist {
      margin: 0px;
      margin-bottom: 20px;
    }
  }

  .trans-regist:focus {
    color: green;
  }

  .trans-regist:active {
    color: green;
  }

  .trans-regist:hover {
    color: green;
  }
}

@media screen and (max-width: 850px) {
  .regist-block {
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .regist-block {
    margin: 0px 20px 0px 20px;
  }
}

@media screen and (max-height: 570px) {
  .regist-block .h1-regist {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .regist-block .trans-regist .p-regist {
    margin-bottom: 10px;
  }
}