.filter-block {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
  margin-bottom: 20px;

  .add-filter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 99%;
    height: auto;
    margin-left: auto;

    p {
      margin: 0px;
      margin-right: 10px;
    }

    .add-filter-button {
      cursor: pointer;
    }
  }

  .input-filter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 30%;

    p {
      margin: 0px;
      color: black;
    }

    input {
      width: 85%;
    }
  }

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .filter-block {
    flex-direction: column;

    .add-filter-block {
      margin-left: 0;
      width: auto;
      justify-content: center;
    }

    .input-filter-block{
      width: 95%;
      justify-content: space-between;
      margin: 5px 0px;

      input {
        width: 88%;
      }
    }

    .btn-filter {
      margin: 20px 0px 5px 0px;
    }

    img {
      margin-top: 20px;
    }
  }
}