.filter-block {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
  margin-bottom: 20px;

  .add-filter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 31%;
    height: auto;
    margin-left: auto;

    p {
      margin: 0px;
      margin-right: 15px;
    }

    a {
      cursor: pointer;
    }
  }

  .input-filter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 30%;

    p {
      margin: 0px;
      color: black;
    }

    input {
      width: 85%;
    }
  }

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}