@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,300&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
}

.add-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 15vh;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  background-color: #C5E9FF;
  margin-top: 10px;

  .add-block-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
}

.inpun-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 18%;

  p {
    margin: 0px;
  }
}